@import "normalize", "bourbon", "neat";

// Fonts

@font-face {
    font-family: 'sans';
    src: url('../fonts/sans-regular-webfont.eot');
    src: url('../fonts/sans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sans-regular-webfont.woff2') format('woff2'),
         url('../fonts/sans-regular-webfont.woff') format('woff'),
         url('../fonts/sans-regular-webfont.ttf') format('truetype'),
         url('../fonts/sans-regular-webfont.svg#sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'sans';
    src: url('../fonts/sans-medium-webfont.eot');
    src: url('../fonts/sans-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sans-medium-webfont.woff2') format('woff2'),
         url('../fonts/sans-medium-webfont.woff') format('woff'),
         url('../fonts/sans-medium-webfont.ttf') format('truetype'),
         url('../fonts/sans-medium-webfont.svg#sansmedium') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'sans';
    src: url('../fonts/sans-bold-webfont.eot');
    src: url('../fonts/sans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sans-bold-webfont.woff2') format('woff2'),
         url('../fonts/sans-bold-webfont.woff') format('woff'),
         url('../fonts/sans-bold-webfont.ttf') format('truetype'),
         url('../fonts/sans-bold-webfont.svg#sansbold') format('svg');
    font-weight: 800;
    font-style: normal;

}

@font-face {
    font-family: 'serif';
    src: url('../fonts/serif-regular-webfont.eot');
    src: url('../fonts/serif-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serif-regular-webfont.woff2') format('woff2'),
         url('../fonts/serif-regular-webfont.woff') format('woff'),
         url('../fonts/serif-regular-webfont.ttf') format('truetype'),
         url('../fonts/serif-regular-webfont.svg#serifregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'serif';
    src: url('../fonts/serif-italic-webfont.eot');
    src: url('../fonts/serif-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serif-italic-webfont.woff2') format('woff2'),
         url('../fonts/serif-italic-webfont.woff') format('woff'),
         url('../fonts/serif-italic-webfont.ttf') format('truetype'),
         url('../fonts/serif-italic-webfont.svg#serifitalic') format('svg');
    font-weight: 400;
    font-style: italic;

}

@font-face {
    font-family: 'serif';
    src: url('../fonts/serif-bold-webfont.eot');
    src: url('../fonts/serif-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serif-bold-webfont.woff2') format('woff2'),
         url('../fonts/serif-bold-webfont.woff') format('woff'),
         url('../fonts/serif-bold-webfont.ttf') format('truetype'),
         url('../fonts/serif-bold-webfont.svg#serifbold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'serif';
    src: url('../fonts/serif-bolditalic-webfont.eot');
    src: url('../fonts/serif-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/serif-bolditalic-webfont.woff2') format('woff2'),
         url('../fonts/serif-bolditalic-webfont.woff') format('woff'),
         url('../fonts/serif-bolditalic-webfont.ttf') format('truetype'),
         url('../fonts/serif-bolditalic-webfont.svg#serifbold_italic') format('svg');
    font-weight: 800;
    font-style: italic;
}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


// Variables

$black: rgba(0,0,0,0.87);
$darkgrey: rgba(0,0,0,0.54);
$lightgrey: rgba(0,0,0,0.24);
$white: rgba(255,255,255,0.87);
$serif: 'serif', serif;
$sans: 'sans', sans-serif;
$base: 1em;






* {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

img {
	max-width: 100%;
	height: auto;
}


h2 {
	font-size: 1.2*$base;
}

h3 {
	font-size: 1.2*$base;
	font-family: $serif;
	line-height: 1;
	display: inline-block;
	
	span {
		border-bottom: solid 1px black;
	}
}


body {	
	color: $black;
	font-size: 80%;
	line-height: 1.5;
	font-family: $sans;
	font-weight: 400;
	transition: all 0.3s ease;
	
	@include media(36*$base) {
		font-size: 90%;
	}
	
	@include media(85*$base) {
		font-size: 100%;
	}
	
	@include media(100*$base) {
		font-size: 110%;
	}
	
	@include media(120*$base) {
		font-size: 125%;
	}
}

header {
	
	@include outer-container(100%);
	overflow: auto;

	@include pad($base);
	padding-bottom: 0;
		
	@include media(48*$base) {
		@include pad(default);
		padding-bottom: 0;
	}
	
	nav {

		@include pad($base);
		padding-bottom: 0;
		overflow: auto;

		h1 {
			float: left;
			display: inline-block;
			padding-bottom: none;


// CONVERT FOLLOWING TO EMS

border: 3px solid black;
padding: 5px 7px 5px 10px;
margin-left: -13px;
margin-top: 6px;



			a {
				color: $black;
				text-decoration: none;
			}
		}
		
		ul {

			padding: 0;
			float: right;
			list-style: none;
			
			li {
				
				float: left;
				margin-left: 2*$base;

				text-transform: uppercase;
				letter-spacing: 1px;

				font-weight: 600;

				a {
					text-decoration: none;
					color: $black;
				}
			}
		}
	}
}

section {
	@include outer-container(100%);
	overflow: auto;

	&.main {
		
		@include pad($base);
		
		@include media(48*$base) {
			@include pad(default);
		}
		

		> div {

			h2, h3, .copy {
				@include pad(0 1rem);
			}
		
			div.copy {
				margin-top: 2*$base;
				margin-bottom: 4*$base;
				
				@include media(65*$base) {
					margin-top: 0;
				}
	
				@include media(35*$base) {
					column-count: 2;
					column-gap: 2*$base;
				}
	
				
				@include media(65*$base) {
					column-count: 1;
					@include span-columns(4);
					float: none;
				}
				
			}
			
			img {
				@include media(65*$base) {
					@include span-columns(8);
					@include omega();
					float: right;
				}
			}
		
			p {
				
				@include span-columns(12);
				
				display: block;
				float: none;
	
				transform: all 0.3s ease;
				
/*
				@include media(30*$base) {
					@include span-columns(10);
					float: none;
				}
	
				@include media(35*$base) {
					@include span-columns(8);
					float: none;
				}
	
				
				@include media(60*$base) {
					@include span-columns(5);
					float: none;
				}
*/

			}
			
		}

		p.summary {
			font-family: $serif;
// 			font-family: "adobe-garamond-pro", sans-serif;
			@include font-feature-settings("liga");
			font-style: normal;
			font-weight: 400;
			font-size: 1.2*$base;
			line-height: 1.4;
			color: $black;
			line-height: 1.2;
			margin: .5*$base 0;
		}
	}

		
	&.main.home {
		background: url(../img/featured.jpg) no-repeat right top fixed;
		background-size: cover;
		background-attachment: scroll;
		
		@include media(85*$base) {
			background: url(../img/featured-2.jpg) no-repeat right top fixed;
			background-size: cover;
			background-attachment: scroll;
		}
		
		> div {
			@include pad($base 3*$base $base $base);
			border: .25*$base $black solid;
			margin: -.25*$base;
			max-width: 30*$base;
		}
	}


}

h1 {
	font-family: $sans;
	font-weight: 800;
	font-size: 1.5*$base;
	color: $black;
	line-height: 1.285;
	letter-spacing: .25*$base;
	
/* 	margin: 0.5em 0 1.3em; */
	
/* 	@include media(30*$base) {
		margin: 0.7*$base 0 1.7*$base;
	} */
		
	
}

.home {
	h1 {
		margin: 0.5em 0 1.3em; 
	
 		@include media(30*$base) {
			margin: 0.7*$base 0 1.7*$base;
		}
	}
}

.philosophy {
	
	@include media(65*$base) {
		img {
			transform: translateY(-4*$base);
		}
	}
}

form {
	
	margin-top: 1.5*$base;
// 	margin-bottom: $base;
	
	input {
		appearance: none;
		border: none;
		margin: 0;
		padding: 0;
		border-bottom: 2px $lightgrey solid;
		font-family: $sans;
		font-weight: 600;
		font-size: $base;
		color: $lightgrey;
		line-height: 1.25*$base;
		letter-spacing: .0625*$base;
		background: none;
		text-transform: uppercase;
		padding-bottom: .375*$base;
		border-radius: 0;
		width: 70%;
		
		&:focus {
			outline: none;
			border-bottom: 2px $black solid;
			color: $black;
		}
	}
	
	button, input.button {
		appearance: none;
		background: none;
		border: none;
		padding: 0;
		padding-top: .875*$base;
		font-family: $sans;
		font-weight: 800;
		font-size: $base;
		color: $black;
		line-height: 20px;
		letter-spacing: .0625*$base;
		text-transform: uppercase;
		text-align: left;
		
		&:focus {
			outline: none;
			border: none;
			color: $darkgrey;
		}
		
		&::after {
			font-family: $sans;
			content: "\2192";
			text-indent: -9999px;
			color: transparent;
			width: $base;
			height: .875*$base;
			background: url(../img/rarr.svg) center center no-repeat;
			background-size: 100%;
			margin-left: .75*$base;
		}
	}

	#signup-response {
		display: none;
		padding: 0;
		padding-top: .875*$base;
		font-family: $sans;
		font-weight: 800;
		font-size: $base;
		color: $black;
		line-height: 20px;
		letter-spacing: .0625*$base;
		text-transform: uppercase;
		text-align: left;
		margin: 0;
	}

}


.floatlabel {
	padding-top: 1.5*$base !important;
}

label.label-floatlabel {
	color: $black !important;
	font-family: $sans;
	font-weight: 600;
	letter-spacing: .125*$base;
	text-transform: uppercase;
	left: 0 !important;
}

footer.nav {

	
	position: relative;
	margin: 0;
	width: 100%;
	overflow: auto;
	
	
	figure {
		position: relative;
		float: left;
		overflow: hidden;
/*
		min-width: 320px;
		max-height: 360px;
*/
		width: 100%;
		background: $black;
		text-align: left;
		cursor: pointer;
		
		@include media(30*$base) {
			width: 50%;	
		}
		
		img {
			position: relative;
			display: block;
			min-height: 100%;
			min-width: 100%;
			height: auto;
			opacity: 0.54;
		}
		
		figcaption {
			padding: 2*$base;
			color: black;
			text-transform: uppercase;
			font-size: 1.25*$base;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			
			&::before, &::after {
				pointer-events: none;
			}
			
			
			&, > a {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			
			> a {
				z-index: 1000;
				text-indent: 200%;
				white-space: nowrap;
				font-size: 0;
				opacity: 0;	
			}
			
		}


		h2 {
			font-family: $sans;
			font-weight: 600;
			font-size: 1*$base;
			color: #FFFFFF;
			line-height: .875*$base;
			letter-spacing: .125*$base;
			
			@include media(26*$base) {
				line-height: 1.5*$base;
			}
			
		}
		
		p, h2 {
			margin: 0;
		}
		
		p {
			letter-spacing: 1px;
			font-size: 68.5%;
		}
		
	}
	
	
	
}






/*---------------*/
/***** Duke *****/
/*---------------*/

figure.effect-duke {
	background: black;
	max-height: 15*$base;
	min-height: 5*$base;
	
	@include media(30*$base) {
			min-height: 6.75*$base;
		}
}

figure.effect-duke img,
figure.effect-duke p {
	-webkit-transition: opacity 1s, -webkit-transform 0.75s;
	transition: opacity 1s, transform 0.75s;
}

figure.effect-duke img.color {
	opacity: 0;
	-webkit-transition: opacity 1s, -webkit-transform 0.75s;
	transition: opacity 1s, transform 0.75s;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

figure.effect-duke:hover img.bw {
	opacity: 0;
	-webkit-transform: scale3d(1.03,1.03,1);
	transform: scale3d(1.03,1.03,1);
}

figure.effect-duke:hover img.color {
	opacity: 1;
	-webkit-transform: scale3d(1.03,1.03,1) translateY(-97%);
	transform: scale3d(1.03,1.03,1) translateY(-97%);
}


figure.effect-duke h2 {
	transition: all 1s ease;
	color: white;
}

figure.effect-duke p {
	text-transform: none;
	font-size: 90%;
	opacity: 0;
}

figure.effect-duke:hover h2,
figure.effect-duke:hover p {
	opacity: 1;
	color: black;
	text-shadow: 0 0 16px rgba(255,255,255,0.54); 
}

/* Media queries */
@media screen and (max-width: 50*$base) {
	.content {
		padding: 0 10px;
	}
	.grid figure {
		display: inline-block;
		float: none;
		margin: 10px auto;
		width: 100%;
	}
}