/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */



// Unsorted

.l-row {
	@include row();
	padding: 0 10px;
}

.l-omega {
	@include omega();
}


// Grid Classes 

.l-l1 {
	@include span-columns (1);
	padding: 0 20px;
}

.l-l2 {
	@include span-columns (2);
	padding: 0 20px;
}

.l-l3 {
	@include span-columns (3);	
	padding: 0 20px;
}

.l-l4 {
	@include span-columns (4);
	padding: 0 20px;	
}

.l-l5 {
	@include span-columns (5);
	padding: 0 20px;	
}

.l-l6 {
	@include span-columns (6);
	padding: 0 20px;	
}

.l-l7 {
	@include span-columns (7);
	padding: 0 20px;	
}

.l-l8 {
	@include span-columns (8);	
	padding: 0 20px;
}

.l-l9 {
	@include span-columns (9);
	padding: 0 20px;	
}

.l-l10 {
	@include span-columns (10);	
	padding: 0 20px;
}

.l-l11 {
	@include span-columns (11);
	padding: 0 20px;	
}

.l-l12 {
	@include span-columns (12);	
	padding: 0 20px;
}

// Page Specific