/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */



// Unsorted

.l-row {
	@include row();
	padding: 0 10px;
}

.l-omega {
	@include omega();
}


// Grid Classes 

@for $i from 1 to $grid-columns+1 {
	
	.l-l#{$i} {
		@include span-columns($i of $grid-columns);
		padding: 0 10px;
	}
	
}

@for $i from -$grid-columns to $grid-columns {
	.l-lshift#{$i} {
		@include shift($i of $grid-columns);
	}
}





// Page Specific

#home {
	.about {
		.cta {
			margin-top: 50px;
		}
	}
}